[submodule "external/unbound"]
	path = external/unbound
	url = https://github.com/incognito-currency/unbound
	branch = incognito
[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://github.com/incognito-currency/miniupnp
	branch = incognito
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
